h1 {
    font-size: 50px;
    color: aquamarine;
}
p{
    font-size: 12px;
    color: blanchedalmond;
}
body{
    font-weight: 100;
    border-top: cadetblue;
    background-color: darkorange;
}
.highlight{
    background: yellow;

}
.accent-color{
    color : red;
}
div {

    width:500px;
    height:500px;
}
.intro{
    background: greenyellow;
    font-size: 30px;
}
.top-section{
    background: black;
}
.bottom-section{
    background: green;
}
